footer{
    position: fixed;
    border-top-color: #6ac5c5;
    border-top-style: solid;
    border-top-width: 8px;
    text-align: center;
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 120px;
    min-width: 100%;
    min-height: auto;
    
}
.row{
    padding-bottom: 1%;
}
h1{ 
    color: #6ac5c5;
    
}
.navbar-brand{
    color: white;
    background-color: #6ac5c5;
}
.navbar-nav {
    padding-left: 85%;
}