footer{
    border-top-color: #6ac5c5;
    border-top-style: solid;
    border-top-width: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    padding-top: 20px;
    border-bottom-color: gray;
    border-bottom: solid;
    padding-bottom: 100%;
}
h1{ 
    color: #6ac5c5;
    
}