main {
    min-height: calc(100vh- 56 - 120px);
}
footer{
    position: fixed;
    bottom: 1;
    border-top-color: #6ac5c5;
    border-top-style: solid;
    border-top-width: 8px;
    text-align: center;
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 120px;
    min-width: 100%;
    min-height: auto;
}

h1{ 
    color: #6ac5c5;
}
.row{
    padding-bottom: 1%;
}
.navbar-brand{
   color: white;
   background-color: #6ac5c5;
}
.navbar-nav {
    padding-left: 85%;
}